<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <table>
        <th>acc_number</th>
        <th>acc_name</th>
        <th>balance</th>

        {% for account in accounts %}
        <tr>
            <td>{{ account.account_number }}</td>
            <td>{{ account.account_name }}</td>
            <td>{{ account.balance }}</td>
            
        </tr>
        {% endfor %}
        </table>

</body>
</html>