<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <th>notification name</th>
        <th>notification title</th>
        <th>date</th>

        {% for notification in notifications %}
        <tr>
            <td>{{ notification.name }}</td>
            <td>{{ notification.title }}</td>
            <td>{{ notification.date }}</td>
        </tr>
        {% endfor %}
    </table>
    
</body>
</html>